{% extends 'base.html' %}
{% load static %}

<!-- This is where your title text will go e.g Login or Home -->
{% block title %}
    Login
{% endblock %}

{% block css %}
<!-- This is where you link your css. 
    NOTE: Bootstrap css and fontawesome are already linked so dont link them again -->
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block body %}
<!-- This where all the content inside your opening and closing body tags will go.
     DO NOT INCLUDE THE BODY TAG. JUST THE CONTENT INSIDE IT. -->
     <section>
        <form method="POST" action="{% url 'login' %}" class="form">
            {% csrf_token %}
           <strong><h2>Log In Account</h2></strong>
           <ul class="inputs">
               <li>Username<br><label for="Username">
               <input type="text" id="username" placeholder="Username" name="username"></label></li> <br>
               <li>Password<br><label for="Password">
               <input type="password" id="password" placeholder="Password" name="password"></label></li> <br>
           </ul>
           <button type="submit" id="btn">LOG IN</button> 
        </form>

    </section>







{% endblock %}

{% block javascript %}
<!-- This is where you link your javascript files. 
    NOTE: Jquery and Bootstrap js are already linked so do not link them again -->
    <script src="{% static 'js/' %}"></script>
{% endblock %}
