{% extends 'base.html' %}
{% load static %}

<!-- This is where your title text will go e.g Login or Home -->
{% block title %}
    Sign Up
{% endblock %}

{% block css %}
<!-- This is where you link your css. 
    NOTE: Bootstrap css and fontawesome are already linked so dont link them again -->
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block body %}
<!-- This where all the content inside your opening and closing body tags will go.
     DO NOT INCLUDE THE BODY TAG. JUST THE CONTENT INSIDE IT. -->
     <div class="signup-box">
        <h1>Sign Up</h1>
        <h4>New here! Sign up and make your sourcing easier</h4>
        <form>
            <label>First Name</label>
            <input type="text" placeholder="First Name"/>
            <label>Last Name</label>
            <input type="text" placeholder="Last Name"/>
            <label>Email</label>
            <input type="email" placeholder="Email"/>
            <label>Phone Number</label>
            <input type="phone-number" placeholder="+254 712345678"/>
            <label>User type</label>
            <input type="text" list="user-type" placeholder="Pick your user type"/>
            <datalist id="user-type"> <option value="Supplier"><option value="Retailer"></datalist>
            <label>Password</label>
            <input type="password" placeholder="Password"/>
            <label>Confirm Password</label>
            <input type="password" placeholder="Confirm Password" />
            <input type="button" value="Submit" />
        </form>
        <p>
            By clicking the Sign Up button,you agree to our <br />
            <a href="#">Terms and Condition</a> and <a href="#">Policy Privacy</a>
        </p>
    </div>
    <p class="para-2">Already have an account? <a href="login.html">Login here</a></p>





{% endblock %}

{% block javascript %}
<!-- This is where you link your javascript files. 
    NOTE: Jquery and Bootstrap js are already linked so do not link them again -->
    <script src="{% static 'js/' %}"></script>
{% endblock %}