/* Universal styling */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #c4c4c4;
    display: flex;
    justify-content: center;
}

/* Form styling */
form{
    margin-top: 5%;
    border-radius: 5px;
    box-shadow: 2px 2px 15px black;
    width: 60%;
    padding: 2%;
    font-size: large;
}
input, textarea{
    width: 80%;
    display: block;
    font-size: large;
}
label{
    display: block;
    margin: 1% 0;
}
button{
    background-color: #c4c4c4;
}