{% extends 'base.html' %}
{% load static %}

<!-- This is where your title text will go e.g Login or Home -->
{% block title %}
    Add Product
{% endblock %}

{% block css %}
<!-- This is where you link your css. 
    NOTE: Bootstrap css and fontawesome are already linked so dont link them again -->
    <link rel="stylesheet" href="{% static 'css/' %}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <form action="{% url 'add' %}" class="shadow-lg p-4" method="post" enctype="multipart/form-data">
                    {{ error }}
                    {% csrf_token %}
                    <label class="form-label" for="product">Product Name: <span class="text-danger">{{ form.product_name.errors.as_text }}</span></label>
                    <input type="text" class="form-control" name="product_name" id="product" placeholder="Enter your product name...">
                    <label class="form-label" for="description">Product Description: <span class="text-danger">{{ form.description.errors.as_text }}</span></label>
                    <input type="text" class="form-control" name="description" id="description" placeholder="Tell us a little more about your product...">
                    <label class="form-label" for="quantity">Quantities: <span class="text-danger">{{ form.quantity.errors.as_text }}</span></label>
                    <input type="text" class="form-control" name="quantity" id="quantity" placeholder="How much of your product do you have in stock?">
                    <label class="form-label" for="price">Unit price: <span class="text-danger">{{ form.price.errors.as_text }}</span></label>
                    <input type="text" class="form-control" name="price" id="price" placeholder="Enter your desired unit price...">
                    <label class="form-label" for="information">Additional Information: <span class="text-danger">{{ form.info.errors.as_text }}</span></label>
                    <textarea name="info" class="form-control" id="information" rows="5" placeholder="Tell us a little more about your product..."></textarea>
                    <label class="form-label" for="profile">Add a descriptive photo <span class="text-danger">{{ form.pimage.errors.as_text }}</span> </label>
                    <input type="file" name="pimage" id="profile">
                    <button type="submit" class="btn btn-primary btn-lg mt-2 ">Add product</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
<!-- This is where you link your javascript files. 
    NOTE: Jquery and Bootstrap js are already linked so do not link them again -->
    <script src="{% static 'js/' %}"></script>
{% endblock %}
