{% extends 'base.html' %}
{% load static %}

<!-- This is where your title text will go e.g Login or Home -->
{% block title %}
    Add Product
{% endblock %}

{% block css %}
<!-- This is where you link your css. 
    NOTE: Bootstrap css and fontawesome are already linked so dont link them again -->
    <link rel="stylesheet" href="{% static 'css/' %}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <form action="" class="shadow-lg p-4" method="post">
                    <label class="form-label" for="product">Product Name: </label>
                    <input type="text" class="form-control" name="product" id="product" placeholder="Enter your product name...">
                    <label class="form-label" for="description">Product Description: </label>
                    <input type="text" class="form-control" name="descritpion" id="description" placeholder="Tell us a little more about your product...">
                    <label class="form-label" for="quantity">Quantities: </label>
                    <input type="text" class="form-control" name="quantity" id="quantity" placeholder="How much of your product do you have in stock?">
                    <label class="form-label" for="price">Unit price: </label>
                    <input type="text" class="form-control" name="price" id="price" placeholder="Enter your desired unit price...">
                    <label class="form-label" for="information">Additional Information: </label>
                    <textarea name="information" class="form-control" id="information" rows="5" placeholder="Tell us a little more about your product..."></textarea>
                    <label class="form-label" for="profile">Add a descriptive photo</label>
                    <input type="file" name="profile" id="profile">
                    <button type="submit" class="btn btn-primary btn-lg mt-2 ">Add product</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
<!-- This is where you link your javascript files. 
    NOTE: Jquery and Bootstrap js are already linked so do not link them again -->
    <script src="{% static 'js/' %}"></script>
{% endblock %}
