*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
}

.form{
    font-size: x-large;
    width: 30%;
    position: relative;
    left: 35%;
}
label{
    display: block;
}
.btn{
    width: 25%;
}

label, input, button, h2{
    position: relative;
    left: 20%;
}
