body {
    background-color: hwb(216 93% 5%);
    font-family: "Roboto", sans-serif;
}
  
.signup-box {
    width: 360px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
}
  
h1 {
    text-align: center;
    padding-top: 15px;
}
  
h4 {
    text-align: center;
}
  
form {
    width: 500px;
    margin-left: 20px;
}
  
form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}
  
form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}

form input:focus-visible {
  border: 2px solid purple;
}

form input:focus + form label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
  color: purple;
}

input[type="button"] {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #595c5b;
    color: white;
    font-size: 18px;
}

input[type="button"]:hover {
  background-color: #9867C5;
  transform: translateY(-2px);
}

p {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}

.para-2 {
    text-align: center;
    color: rgb(233, 35, 35);
    font-size: 15px;
}

.para-2 a {
    color: #49c1a2;
}
  